body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 33px;
  font-weight: 100;
  line-height: 27.5px;
  margin: 0px 0 10px 0;
  text-align: center;
  list-style: none;
}
ul li ul li {
  display: inline;
  margin: 0 15px;
}
ul,
ul li ul,
ul li ul li {
  padding: 0;
  font-size: 13px;
}
ul,
ul li ul {
  list-style: none;
  margin: 0;
}
ul {
  margin-bottom: 0px;
}
hr {
  background-color: #fff;
  margin: 0;
  height: 1.5px;
  border: 0px;
}
h3 {
  margin-bottom: 0;
}
body,
.content-container {
  background-color: #0f667e;
}
body,
.active,
.weather-forecast .col-3,
.active:hover {
  color: #fff;
  text-shadow: 0px 0px 7px #000;
}
ul li ul,
ul,
h3,
.forecast-temperature,
.col-6,
.weather-forecast .col-3 {
  text-align: center;
}
h3,
.forecast-temperature {
  font-size: 14px;
}
a {
  color: #fff;
}
a:hover,
.active:hover,
.signature a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 300px;
  margin: 30px auto;
}
.weather-app {
  padding: 8px;
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #d9e7eb;
}
.col-7 {
  padding: 0 0 0 15px;
  max-width: 179px;
}
.mb-3 {
  margin-bottom: 0px !important;
}
.form-control {
  border-radius: 0.25rem 0 0 0;
  border: solid 1px #fff !important;
  border-bottom: solid 1px #ececec !important;
}
.col-4 {
  padding: 0;
}
.searched-city-wrap {
  max-width: 300px;
  border-radius: 0;
  padding: 0px 0 10px 0;
  background-size: 300px 312px;
}
.btn-group #search {
  color: #3f8da3;
  background-color: #fff;
  border-color: #fff;
  border-bottom: solid 1px #ececec;
  border-radius: 0%;
}
.btn-group #current-location {
  background-color: #0f667e;
  border-color: #0f667e;
}
.btn-group #refresh {
  background-color: #3f8da3;
  border-color: #3f8da3;
  border-radius: 0 0.25rem 0 0;
}
.btn-group #search,
.btn-group #current-location,
.btn-group #refresh {
  width: 40px;
}
.btn-group #search:hover,
.btn-group #current-location:hover,
.btn-group #search:focus,
.btn-group #current-location:focus,
.btn-group #refresh:hover,
.btn-group #refresh:focus,
#city-input:focus {
  box-shadow: none;
  background-color: #d9e7eb;
  color: #0f667e;
  border: none;
}
.city-sentence {
  font-size: 20px;
}
.weather-description {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.weather-description:first-letter {
  text-transform: capitalize;
}
.current-info li {
  display: inline;
  margin: 0 15px;
}
.sun-times {
  display: block;
  margin: 20px 0 0 0;
}
.active {
  font-weight: bold;
  cursor: default;
}
.col-6 {
  padding: 0 !important;
}
.col-6 {
  flex: 0 0 45%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
  max-width: 45%;
}
.current-weather img {
  width: 115px;
  display: block;
}
img#icon {
  margin: 0 0 0 20px;
  filter: drop-shadow(0 2px 0px #3c3838);
  -webkit-filter: drop-shadow(0 2px 0px #3c3838);
}
.current-temperature {
  margin-top: 5.5px;
  text-align: left;
}
.current-temperature strong {
  font-size: 70px;
  font-weight: 400;
  color: #fff;
}
.current-temperature .units {
  position: relative;
  top: -40px;
}
.f-like {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.sun-times li {
  display: inline;
  margin: 0 11px;
}
.forecast-wrap {
  background-color: #fff;
  color: #5e5e5e;
  border-radius: 0 0 0.25rem 0.25rem;
  text-shadow: none;
}
.weather-forecast::-webkit-scrollbar {
  width: 4px;
}
.weather-forecast::-webkit-scrollbar-track {
  background: #6eaec0;
}
.weather-forecast::-webkit-scrollbar-thumb {
  background-color: #19556b;
  border-radius: 15px;
  border: solid 1px #19556b;
}
.h,
.d {
  padding-top: 10px;
  margin: 0 auto;
  position: sticky;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 5px;
}
.h {
  height: 112px;
}
.d {
  height: 113px;
  background-color: #fbfbfb;
}
.col-4 .hf {
  padding: 0 0 0 0 !important;
  margin: 0 10px;
}
.col-4 .hf img {
  width: 80px;
  padding: none;
}
.forecast-temperature {
  margin-bottom: 10px;
}
.signature {
  color: #ffe37d;
}
.signature a {
  color: #f5f5f5;
}
.signature a:hover {
  text-decoration: underline;
  text-decoration-color: #eebd1c;
}
.signature small {
  font-weight: lighter;
}
