body {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e5e5e;
}

h1 {
  font-size: 3.52vw;
  font-weight: 100;
  line-height: 3.34vw;
  margin: 1.21vw 0;
}

ul li ul li {
  display: inline;
  margin: 0 1.09vw;
}

ul,
ul li ul,
ul li ul li {
  padding: 0;
  font-size: 1.7vw;
}

ul,
ul li ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

ul {
  margin-bottom: 1.21vw;
}

a:hover,
.active:hover {
  text-decoration: none;
}

.active {
  color: #5e5e5e;
  font-weight: bold;
  cursor: default;
}

.city-sentence {
  font-size: 2.42vw;
}

.weather-app-wrapper {
  max-width: 55vw;
  margin: 3.64vw auto;
}

.weather-app {
  padding: 0.97vw;
  border: 0.12vw solid #dadde1;
  border-radius: 0.61vw;
}

.col-6 {
  text-align: center;
}

.col-8 {
  padding: 0 0 0 3vw;
}
.col-4 {
  padding: 0 0 0 2vw;
}

.weather-display img {
  width: 12.12vw;
  height: 12.12vw;
  margin-top: 0;
}

.weather-display div {
  font-weight: bold;
}

.weather-display div:first-letter {
  text-transform: capitalize;
}

.temperature-display {
  margin-top: 1.21vw;
}

.temperature-display strong {
  font-size: 9.69vw;
  font-weight: 400;
  color: #000;
}

.temperature-display .units {
  position: relative;
  top: -5.58vw;
}

.weather-forecast .col-3 {
  color: #5e5e5e;
  text-align: center;
}

h3,
.weather-forecast-temperature {
  font-size: 1.69vw;
  text-align: center;
}

.btn-group #search {
  background-color: #737d85;
}

.btn-group #search,
.btn-group #current-location {
  width: 6.97vw;
}

.btn-group #current-location {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-group #search:hover,
.btn-group #current-location:hover,
.btn-group #search:focus,
.btn-group #current-location:focus,
#city-input:focus {
  box-shadow: none;
  background-color: #ececec;
  color: #727b83;
  border: none;
}
